
<center>
    <h2>Tablas de Multiplicar</h2>
    @{

        int n;
        for (int i = 1; i <= 2; i++)
        {
            <br />
            for (int j = 1; j <= 10; j++)
            {
                n = j * i;


                <h5> @i x @j  =@n </h5> 
            }

        }


    }
</center>