@{
    ViewBag.Title = "Home Page";
}



<div>
    <h1 class="text-danger text-center">MI PLANTILLA</h1>
    <center>
        <img src="https://static.wixstatic.com/media/74f222740fd04766aae237b09d9f7b5b.jpg" width="700px" height="500px" />


    </center>

    <div />


    @{

        Html.RenderPartial("_PartialPage1");

    }
